.head-content
{
	margin: 0px auto;
	padding: 50px 0px 0px 0px;
	
}
.row-content
{
	margin: 0px auto;
	padding:  50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.footer
{
	background-color: #d1c4e9;
	margin: 0px auto;
	padding: 20px 0px  20px 0px;
}
.jumbotron
{
	padding: 70px 30px 70px 30px;
	margin:0px auto;
	background: #9575cd;
	color: floralWhite;
}
.address
{
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}
.aboutus
{
	padding-left: 20px;
}
body
{
	padding: 50px 0px 0px 0px;
}
.navbar-dark
{
	background-color: #512DA8;
}
.btn-reserve
{
	padding-left: 50px;
	padding-right: 50px;
	
}
.tab-content
{
	border-left: 11px solid #ddd;
	border-right: 11px solid #ddd;
	border-bottom: 11px solid #ddd;
	padding: 10px;
}